name: PROFILE_SUMMARY_CARD

on:
  create:
  schedule: # execute every 24 hours
    - cron: "* */24 * * *"
  workflow_dispatch:

jobs:
build:
  runs-on: ubuntu-latest
  name: PROFILE_SUMMARY_CARD
  permissions:
    contents: write

  steps:
    - uses: actions/checkout@v2
    - uses: vn7n24fzkq/github-profile-summary-cards@release
      env:
        GITHUB_TOKEN: ${{ secrets.[PROFILE_SUMMARY_CARD] }}
      with:
        USERNAME: ${{ github.repository_owner }}
